.main-container {
    color: #2c2c2c;
    font-size: 15px;
    .password-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .layout {
            margin-left: -15px;
            margin-right: -15px;
            div[role='main'] {
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                .page-title {
                    margin-top: 0;
                    margin-bottom: 30px;
                    padding-bottom: 0;
                    border: 0;
                    margin: 40px 0 20px;
                    h1 {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 25px;
                    }
                }
                .form {
                    .fieldset {
                        margin-top: 70px;
                        ul.form-list {
                            margin-top: 0;
                            margin-bottom: 10px;
                            li.fields {
                                margin-bottom: 15px;
                                min-height: 90px;
                                .field {
                                    float: left;
                                    width: 50%;
                                    padding-right: 15px;
                                    padding-left: 15px;
                                    span[class*='field-label'] {
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                        color: #2c2c2c;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 15px;
                                        padding: unset;
                                        line-height: 21px;
                                        span[class*='field-specialCharacter'] {
                                            font-style: normal;
                                            color: #a94442;
                                            font-family: 'Open Sans', sans-serif;
                                            font-size: 15px;
                                        }
                                    }
                                    span[class*='fieldIcons-root'] {
                                        width: 100%;
                                    }
                                    input {
                                    }
                                }
                                .newPassword {
                                    padding-left: 0;
                                }
                                .confirmPassword {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                    .buttons-set {
                        margin: 0;
                        margin-top: -17px;
                        padding: 20px 0 0;
                        border-top: 0;
                        line-height: 34px;
                        text-align: right;
                        p.required {
                            margin: 0 0 10px;
                            text-align: right;
                            color: #a94442;
                        }
                        button.resetPassBtn {
                            width: unset;
                            min-width: unset;
                            float: right;
                            margin-left: 5px;
                            color: #2c2c2c;
                            background-color: #fff;
                            border-color: gray;
                            display: inline-block;
                            margin-bottom: 0;
                            font-weight: 600;
                            text-align: center;
                            vertical-align: middle;
                            touch-action: manipulation;
                            cursor: pointer;
                            background-image: none;
                            border: 1px solid gray;
                            white-space: nowrap;
                            padding: 6px 20px;
                            font-size: 15px;
                            letter-spacing: 0.25px;
                            line-height: 1.42857143;
                            border-radius: 5px;
                            text-transform: uppercase;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .password-container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .password-container {
        width: 992px;
        .layout {
            div[role='main'] {
                float: left;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1260px) {
    .password-container {
        width: 1260px;
    }
}

@media (max-width: 767px) {
    .password-container {
        margin-bottom: 50px;
        .field {
            width: 100% !important;
        }
        .newPassword {
            padding-right: unset !important;
        }
        .confirmPassword {
            padding-left: unset !important;
            margin-top: 20px;
        }
        .buttons-set {
            padding-top: 70px;
            button {
                padding: 4px 12px !important;
                font-size: 12px !important;
            }
        }
    }
}
