.home-banner-content {
    .filterproduct-title {
        margin: 0 0 10px;
    }

    .home-middle-line.banner {
        width: 70%;
    }

    .banner-wrapper {
        margin: 35px 0;
        img {
            width: auto;
            max-width: 100%;
            height: auto;
        }
    }
}