.blog-data-page {
    padding-top: 3.428571429rem;
    padding-bottom: 3.428571429rem;
    float: left;
    width: 100%;
    margin-top: 40px;
    &::before,
    &::after {
        display: table;
        content: '';
    }
    .blog-container {
        padding: 0 2.857142857rem;
        background-color: #ffffff;
        float: left;
        width: 100%;
        .blog-site-content {
            margin: 1.714285714rem 0 0;
            clear: both;
            article {
                border-bottom: 4px double #ededed;
                margin-bottom: 72px;
                padding-bottom: 24px;
                word-wrap: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
                header.entry-header {
                    margin-bottom: 1.714285714rem;
                    .entry-title {
                        font-size: 20px;
                        line-height: 1.2;
                        font-weight: normal;
                        a {
                            color: #00cccc;
                        }
                    }
                }
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .blog-pagination {
                line-height: 2;
                margin-bottom: 30px;
                clear: both;
                float: left;
                width: 100%;
                .nav-previous {
                    width: 50%;
                    float: left;
                    > div {
                        display: inline-block;
                        cursor: pointer;
                        color: #00cccc;
                        font-weight: 700;
                    }
                }
                .nav-next {
                    width: 50%;
                    float: right;
                    text-align: right;
                    > div {
                        display: inline-block;
                        cursor: pointer;
                        color: #00cccc;
                        font-weight: 700;
                    }
                }
            }
        }
        .blog-sidebar {
            margin: 1.714285714rem 0 0;
            .widget-area {
                .widget {
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    hyphens: auto;
                    margin-bottom: 48px;
                    margin-bottom: 3.428571429rem;
                    word-wrap: break-word;
                    .widget-title {
                        margin-bottom: 1.714285714rem;
                        font-size: 11px;
                        line-height: 2.181818182;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #636363;
                    }
                    li {
                        font-size: 13px;
                        line-height: 1.846153846;
                        margin-bottom: 0.9rem;
                    }
                    a {
                        color: #757575;
                        text-decoration: underline;
                        &:visited {
                            color: #9f9f9f;
                        }
                    }
                    b {
                        margin-left: 2px;
                        font-size: 12px;
                        color: #444;
                    }
                    ul {
                        ul {
                            margin-left: 0.857142857rem;
                        }
                    }
                    &.widget-search {
                        form {
                            display: flex;
                            input {
                                width: 53.66666666666%;
                                height: 30px;
                                outline: none;
                            }
                            button {
                                outline: none;
                                padding: 6px 10px;
                                height: 30px;
                                font-size: 11px;
                                line-height: 1.428571429;
                                font-weight: normal;
                                color: #7c7c7c;
                                background-color: #e6e6e6;
                                background-repeat: repeat-x;
                                background-image: -moz-linear-gradient(
                                    top,
                                    #f4f4f4,
                                    #e6e6e6
                                );
                                background-image: -ms-linear-gradient(
                                    top,
                                    #f4f4f4,
                                    #e6e6e6
                                );
                                background-image: -webkit-linear-gradient(
                                    top,
                                    #f4f4f4,
                                    #e6e6e6
                                );
                                background-image: -o-linear-gradient(
                                    top,
                                    #f4f4f4,
                                    #e6e6e6
                                );
                                background-image: linear-gradient(
                                    top,
                                    #f4f4f4,
                                    #e6e6e6
                                );
                                border: 1px solid #d2d2d2;
                                border-radius: 3px;
                                box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .entry-meta {
            a {
                color: #00cccc;
            }
            span.meta-attribute-link {
                a {
                    cursor: pointer;
                    &:not(:last-child) {
                        position: relative;
                        margin-right: 6px;
                        &::after {
                            content: ',';
                            color: #777;
                            position: absolute;
                            right: -4px;
                            bottom: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
.blog-post-content {
    .entry-header {
        margin-bottom: 1.714285714rem;
        .entry-title {
            font-size: 1.571428571rem;
            line-height: 1.2;
            font-weight: normal;
        }
    }
    .entry-content {
        line-height: 1.714285714;
        p {
            margin: 0 0 1.714285714rem;
            line-height: 1.714285714;
        }
        img {
            border-radius: 3px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            max-width: 100%;
            height: auto;
            clear: both;
            margin-top: 0.857142857rem;
            margin-bottom: 0.857142857rem;
            display: block;
        }
    }
    .amblog-comments-wrapper {
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        margin-top: 40px;
        .amblog-title {
            position: relative;
            padding: 20px;
            border-bottom: 1px solid #e9e9e9;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #0e6bd7;
            margin-bottom: 30px;
        }
        .amblog-comments-action {
            padding: 20px 20px 40px;
            .amblog-comment {
                margin-bottom: 60px;
            }
            .amblog-form-comment {
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                .amblog-customer {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }
                .amblog-input {
                    width: 100%;
                    padding: 9px 10px 9px 36px;
                    border-radius: 3px;
                    font-size: 14px;
                    border: 1px solid #e9e9e9;
                    background: #f9f9f9;
                    color: #525252;
                    outline: none;
                }
                .amblog-input.-textarea {
                    margin-bottom: 0;
                    height: 100px;
                    box-sizing: border-box;
                    resize: vertical;
                }
                .amblog-wrapper {
                    margin-bottom: 15px;
                }
                .mage-error {
                    color: #e02b27;
                    font-size: 1.2rem;
                    margin-top: 7px;
                }
                .amblog-btn {
                    width: 100%;
                    padding: 12px 0;
                    border: none;
                    border-radius: 3px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    box-shadow: none;
                    background: #0e6bd7;
                    margin-top: 15px;
                    height: auto;
                }
                .amblog-svg {
                    width: 25px;
                    height: 24px;
                    fill: #499bf8;
                    position: absolute;
                    top: -40px;
                    left: 0;
                }
            }
        }
        .amblog-comments-container {
            margin: 30px 20px 0;
            .amblog-comment {
                margin-bottom: 40px;
                .amblog-comment-content {
                    padding-left: 35px;
                    .amblog-header {
                        margin-bottom: 15px;
                        .amblog-author {
                            position: relative;
                            display: inline-block;
                            margin: 0 20px 0 0;
                            padding-left: 0;
                            svg {
                                position: absolute;
                                top: 0;
                                left: -35px;
                                fill: #499bf8;
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .amblog-date {
                            display: inline-block;
                            margin: 0;
                            font-size: 14px;
                            color: #999;
                        }
                        .amblog-thesis {
                            font-style: italic;
                            font-size: 16px;
                            word-break: break-word;
                            word-wrap: break-word;
                            overflow-wrap: anywhere;
                        }
                        .amblog-reply {
                            margin-top: 10px;
                            text-align: right;
                            span {
                                font-size: 14px;
                                font-weight: 600;
                                color: #0e6bd7;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .amblog-replies {
                    display: none;
                }
            }
        }
    }
}
.archive-header {
    margin-bottom: 3.428571429rem;
    padding-bottom: 1.571428571rem;
    border-bottom: 1px solid #ededed;
    .archive-title {
        font-size: 11px;
        clear: both;
        line-height: 2.181818182;
        font-weight: bold;
        text-transform: uppercase;
        color: #636363;
        > span {
            line-height: 2.181818182;
            font-weight: bold;
            text-transform: uppercase;
            color: #636363;
        }
    }
    .archive-meta {
        color: #757575;
        font-size: 12px;
        line-height: 2;
        margin-top: 1.571428571rem;
    }
}
.main-navigation {
    text-align: left;
    margin-bottom: 20px;
    button.menu-toggle {
        border: 1px solid #ccc;
        color: #777;
        line-height: 30px;
        padding: 0 12px;
        height: 32px;
        background-color: #fff;
        outline: none;
    }
    ul {
        li {
            font-size: 12px;
            line-height: 1.42857143;
        }
    }
}
.wp-header-banner {
    .easybanner-image-link {
        img {
            float: left;
            max-width: 190px;
            vertical-align: top;
        }
    }
}

@media (min-width: 960px) {
    .blog-data-page {
        background-color: #e6e6e6;
    }
}

@media screen and (min-width: 600px) {
    .blog-data-page {
        .blog-container {
            max-width: 1120px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            float: none;
            box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
            .blog-site-content {
                float: left;
                width: 65.104166667%;
                article {
                    header.entry-header {
                        .entry-title {
                            font-size: 22px;
                        }
                    }
                }
            }
            .blog-sidebar {
                float: right;
                width: 26.041666667%;
            }
        }
    }
    .main-navigation {
        button.menu-toggle {
            // display: none;
        }
        ul {
            margin: 0;
            text-indent: 0;
            &.nav-menu {
                border-bottom: 1px solid #ededed;
                border-top: 1px solid #ededed;
                display: inline-block !important;
                text-align: left;
                width: 100%;
            }
        }
        li {
            display: inline-block;
            text-decoration: none;
            margin: 0 40px 0 0;
            position: relative;
            a {
                border-bottom: 0;
                color: #6a6a6a;
                line-height: 3.692307692;
                text-transform: uppercase;
                white-space: nowrap;
                display: inline-block;
                text-decoration: none;
            }
            ul {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 100%;
                z-index: 1;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
                li {
                    a {
                        background: #efefef;
                        border-bottom: 1px solid #ededed;
                        display: block;
                        font-size: 11px;
                        line-height: 2.181818182;
                        padding: 8px 10px;
                        padding: 0.571428571rem 0.714285714rem;
                        width: 250px;
                        white-space: normal;
                        color: #6a6a6a;
                        text-transform: uppercase;
                        text-decoration: none;
                        &:hover {
                            background: #e3e3e3;
                            color: #444;
                        }
                    }
                }
                &.children {
                    left: 100%;
                    top: 0;
                }
            }
            &:hover {
                > ul {
                    border-left: 0;
                    clip: inherit;
                    overflow: inherit;
                    height: inherit;
                    width: inherit;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .blog-post-content {
        .amblog-comments-wrapper {
            .amblog-title {
                padding: 20px 30px;
            }
            .amblog-comments-action {
                padding: 10px 30px 50px;
                .amblog-form-comment {
                    padding-left: 45px;
                    .amblog-fieldset {
                        margin: 0;
                        padding: 0;
                        border: none;
                        min-inline-size: initial;
                    }
                    .amblog-customer {
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                    }
                    .amblog-input {
                        padding-left: 15px;
                    }
                    .amblog-wrapper:first-child {
                        margin: 0 20px 15px 0;
                    }
                    .amblog-btn {
                        width: 230px;
                        padding: 14px 0;
                    }
                    .amblog-svg {
                        top: 10px;
                    }
                }
            }
            .amblog-comments-container {
                margin: 30px 30px 0;
            }
        }
    }
}

@media (max-width: 599px) {
    .blog-data-page {
        padding-top: 0;
        .blog-container {
            padding: 0 1.714285714rem;
            .blog-sidebar {
                clear: both;
            }
        }
        .main-navigation {
            .menu-menu-1-container {
                display: none;
                &.toggle-on {
                    display: inline-block;
                }
                li {
                    margin-top: 1.714285714rem;
                    font-size: 12px;
                    line-height: 1.42857143;
                    margin-bottom: 0.9rem;
                    a {
                        color: #5e5e5e;
                    }
                }
            }
        }
    }
}
