.rating-list-block {
    position: relative;
    margin-top: 30px;

    .block-title {
        font-size: 1.5em;
    }
    .custom-nav-react {
        float: right;
        span {
            font-size: 18px;
            color: #00cccc;
            cursor: pointer;

            &.nav-disabled{
                cursor: default;
                pointer-events: none;
                opacity: 0.5;
            }

            > em::before {
                margin: 0;
            }
        }
    }
    .alice-carousel {
        clear: both;
    }
    .block-list-item {
        padding-top: 10px;
        padding-left: 0.5px;

        .product.product-item {
            vertical-align: top;
            position: relative;
            float: none;
            width: auto;
            padding: 0;
            margin-bottom: 0;

            .product-item-info {
                max-width: 100%;
                text-align: center;
                width: auto;
                margin-bottom: 12px;
                position: relative;

                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
                .product-item-photo {
                    border: solid 1px #ececec;
                    float: left;
                    max-width: 33%;
                    margin-right: 10px;
                    min-height: 50px;
                    overflow: hidden;
                    padding: 3px;
                    border-radius: 7px;

                    .product-image-photo {
                        position: static;
                        width: auto;
                        transform-style: preserve-3d;
                        display: block;
                        max-width: 100%;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        margin: auto;
                        height: auto;
                    }
                }

                .product-item-details {
                    margin-left: calc(33% + 10px);
                    padding: 0;
                    text-align: left;
                    .product-item-name {
                        margin-bottom: 2px;
                        margin-top: 0;
                        font-size: 13px;
                        display: block;
                        font-weight: 400;
                        margin: 0 0 3px;
                        word-wrap: break-word;
                        -webkit-hyphens: auto;
                        -moz-hyphens: auto;
                        -ms-hyphens: auto;
                        hyphens: auto;
                        > a {
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    .product-reviews-summary{
                        margin-bottom: 5px;
                    }
                    .product-price.final_price{
                        .price{
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    hr {
        border: 0;
        height: 2px;
        margin: 18px 0;
        position: relative;
        background: -moz-linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.65) 50%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 100%
        ); /* FF3.6+ */
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%, rgba(0, 0, 0, 0)),
            color-stop(10%, rgba(0, 0, 0, 0)),
            color-stop(50%, rgba(0, 0, 0, 0.65)),
            color-stop(90%, rgba(0, 0, 0, 0)),
            color-stop(100%, rgba(0, 0, 0, 0))
        ); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.65) 50%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 100%
        ); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.65) 50%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 100%
        ); /* Opera 11.10+ */
        background: -ms-linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.65) 50%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 100%
        ); /* IE10+ */
        background: linear-gradient(
            left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0.65) 50%,
            rgba(0, 0, 0, 0) 90%,
            rgba(0, 0, 0, 0) 100%
        ); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

        &::before {
            content: '';
            display: block;
            border-top: solid 1px #f9f9f9;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: 1;
        }
    }
}
