.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('/icons/fancybox_overlay.png')
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-opened {
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    overflow: visible;
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: auto;
}

.fancybox-close:before {
    content: '\f819';
    font-family: 'porto-icons';
}

.fancybox-close {
    background: transparent;
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 8040;
    position: absolute;
}

@media (max-width: 767px) {
    .fancybox-opened {
        width: 332px !important;
    }

    .fancybox-inner {
        width: 332px !important;
    }

    .newsletter {
        width: 332px !important;
    }
}