.home-category {
    .filterproduct-title {
        font-size: 16px;
        font-weight: 300;
        line-height: 42px;
        margin: 0 0 10px;
        margin: 0;
        color: #313131;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        align-items: center;
        .content {
            background-color: #fff;
            padding-right: 20px;
            display: inline;
        }
    }

    .easycatalogimg, .easycatalog-grid {
        zoom: 1;
    }

    .easycatalog-grid, .easycatalog-grid li {
        background: 0 0;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .easycatalogimg-cols-5 li.item {
        width: 20% !important;
    }

    .easycatalog-grid li.item {
        padding: 10px !important;
        float: left;
        box-sizing: border-box;
    }

    .easycatalogimg .parent-category {
        margin: 0 0 8px;
    }

    .easycatalogimg .parent-category a {
        color: #777;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
    }

    .easycatalog-grid .product-image {
        width: auto;
        height: auto;
        text-align: center;
    }

    .easycatalog-grid img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    .easycatalogimg .list-subcategories {
        padding: 0;
        margin: 5px 0;
        list-style: none;
        font-size: .95em;
    }

    .easycatalogimg .list-subcategories li a {
        color: #00CCCC !important;
    }

    .easycatalogimg .list-subcategories li {
        margin: 8px 0;
        padding: 0 0 0 10px;
        line-height: 1.1em;
    }

    .easycatalogimg .link-more {
        margin: 0;
        padding: 0;
        font-weight: 700;
    }

    .easycatalogimg:after, .easycatalog-grid:after {
        content: '.';
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
        font-size: 0;
    }
}

@media (max-width: 480px) {
    .home-category {
        .easycatalog-grid li.item {
            width: 50% !important;
        }
    }
}