.product-options-wrapper {
    margin-bottom: 20px;
    clear: both;
}

.product-options-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    .reset-button {
        background: url('/icons/ico_reset.png') no-repeat;
        cursor: pointer;
        min-height: 14px;
    }
}

.table-wrapper {
    margin-bottom: 18px; 
    p {
        color: #777;
        font-size: 13px;
        font-weight: 400;
        line-height: 18.2px;
    }
}

.bss-items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    li {
        margin: 0;
        &.item-info {
            flex: initial;
        }
    }

    .item-info {
        display: inline-block;
        width: 20%;
        border: 1px solid #dddee0;
        padding: 10px 0;
        .item-size {
            .item-info-attr {
                width: 100%;
                display: inline-table;
                padding: 6px 0;
                .attr-label {
                    font-weight: 700;
                    line-height: initial;
                    width: 20%;
                    padding-left: 5px;
                    color: #777;
                }
            }
        }
        .qty_att_product {
            margin: 0 3px;
            height: 22px;
            text-align: center;
            width: 25px;
            padding: 0;
            font-size: 9px;
            border-radius: 3px;
            box-sizing: border-box;
            vertical-align: baseline;
            line-height: 1.4;
            background: #fff;
            background-clip: padding-box;
            border: 1px solid #ccc;
        }
    }

    .grs {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        height: 21px;
        line-height: 21px;
        .price {
            float: right;
            width: 50%;
            .product-info-price {
                border: none;
                width: unset;
            }

            .has-discount {
                color: #777;
                text-decoration: line-through;
            }

            .sale-price {
                color: red;
                top: -10px;
                position: relative;
            }
        }
        .product-prices .price {
            color: #777;
            font-size: 11px;
            font-weight: 400;
            line-height: 21px;
        }

        .grid-outof-stock-tb {
            color: red
        }
    } 
    .group-left {
        float: left;
        width: 55%;
    }
    .group-left.no-sub-option {
        width: 35%;
    }
    .group-right {
        width: 45%;
        float: right;
        padding-left: 5px;
    }
}

.bss-first-attr {
    .attr-label {
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        color: #777;
        font-size: 13px;
        font-weight: 400;
        line-height: 18.2px;
    }
    .swatch-option {
        &:hover {
            outline: 2px solid #c34000;
        }
        border: none !important;
        display: inline-block;
        float: none;
        margin: 0;
        max-width: 100%;
        min-width: 30px;
        overflow: hidden;
        padding: 1px 2px;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        img {
            max-width: 100%;
        }
    }
}

.swatch-attribute-options {
    margin: 10px !important;
}

.bss-float-left {
    float: left;
}

.bss-qty .reduced.items, .bss-qty .increase.items {
    border: 0 solid #dddee0;
    background: #c1c1c1;
    cursor: pointer;
    height: 18px;
    text-align: center;
    min-width: 18px !important;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
}

.bss-qty .reduced.items, .bss-qty .increase.items:focus {
    outline: none;
}

@media (min-width: 768px) {
    .cart.table-wrapper .items {
        width: auto;
    }
}

@media (max-width: 767px) {
    .bss-items li {
        padding: 5px 0 0;
        margin-bottom: 20px;
    }

    .bss-items li.item-info {
        display: inline-block;
        flex: none;
    }
}

@media (max-width: 1229px) {
    .bss-items li.item-info {
        width: 50%;
    }
}