.category-description {
    margin-bottom: 18px;
    word-wrap: break-word;
    a {
        color: #00cccc;
    }
}
.top-toolbar {
    height: 33px;
    .models-bar {
        float: left;
        display: inline-block;

        .models-mode {
            loat: left;
            border: 1px solid #ccc;
            font-weight: 400;
            color: #ccc;
            text-align: center;
            width: 26px;
            line-height: 26px;
            background-color: #fff;
            display: block;
            margin-right: 5px;
            border-radius: 3px;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;

            &::before {
                display: block;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 12px;
                line-height: inherit;
                color: inherit;
                content: '\f839';
                font-family: 'porto-icons';
                vertical-align: middle;
                display: inline-block;
                font-weight: 400;
                overflow: hidden;
                speak: none;
                text-align: center;
            }
            &.mode-list:before {
                content: '\f83a';
            }

            &.active {
                background-color: #00cccc;
                color: #fff;
                border-color: #00cccc;
            }

            > span {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
        }
    }
    .sort-dropdown {
        margin-top: -10px;
        margin-left: 8px;

        .sorter-action {
            display: inline-block;
            margin-left: 180px;
            margin-top: 4px;
            cursor: pointer;

            &::before {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 16px;
                line-height: inherit;
                color: #00cccc;
                content: '\f840';
                font-family: 'porto-icons';
                vertical-align: top;
                display: inline-block;
                font-weight: 400;
                overflow: hidden;
                speak: none;
                text-align: center;
            }
            &.sort-desc {
                &::before {
                    content: '\f842';
                }
            }
            > span {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
        }
    }
}

#siminia-main-page {
    .filter-btn-mobile {
        border: 1px solid #ccc;
        padding: 7px 10px;
        margin-top: 8px;
        display: block;
        width: fit-content;
        border-radius: 4px;
        clear: both;
    }
    .left-nav-filter-mobile {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding: initial;
        padding-top: 10px;
        border-right: 1px solid #dedede;
    }
    .btn-close-filter-nav {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .mb-filtered-container {
        .mb-child-filtered,
        .mb-filtered-clear-all {
            padding: 7px 10px;
            border: 1px solid #ccc;
            margin-right: 4px;
            float: left;
            margin-bottom: 3px;
        }
    }
    .product-list-filter-panel {
        padding: 0 !important;
        .panel-header.flex {
            background-color: #f5f5f5;
        }
        .panel-content {
            background-color: #fbfbfb;
            border-radius: 0 0 7px 7px;
        }
    }
    .clear-filter-disable {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
    .easycatalogimg {
        clear: both;
        float: left;
        display: flex;
        flex-wrap: wrap;
        .easycatalog-grid {
            background: 0 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li.item {
                padding: 10px !important;
                float: left;
                box-sizing: border-box;
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
                .parent-category a {
                    color: #777;
                    font-size: 15px;
                }
                .list-subcategories {
                    padding: 0;
                    margin: 5px 0;
                    list-style: none;
                    font-size: 0.95em;
                    li {
                        margin: 8px 0;
                        padding: 0 0 0 10px;
                        line-height: 1.1em;
                        a{
                            color: #00CCCC;
                        }
                    }
                }
            }
            &.easycatalogimg-cols-3 {
                li.item {
                    width: 33.33333333%;
                }
            }
        }
    }
}

.product-grid-pagination {
    .pagination {
        flex-direction: row-reverse;
        #page-numbers {
            margin-left: 10px;
        }
    }
    &.product-grid-pag-top {
        .pagination {
            #page-numbers {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .top-toolbar {
        .models-bar {
            // float: right;
        }
        .sort-dropdown {
            > div {
                padding: 4px 8px;
                width: auto;
                min-height: 38px;
            }
            .sorter-action {
                margin-left: 140px;
                margin-top: 7px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #siminia-main-page {
        .easycatalogimg {
            .easycatalog-grid.easycatalogimg-cols-3 li.item {
                width: 50%;
            }
        }
    }
    .top-toolbar {
        .sort-dropdown .sorter-action {
            margin-left: 100px;
        }
        .models-bar {
            float: right;
        }
        .product-grid-pag-top {
            clear: both;
            margin-top: 10px;
            float: left;
            display: block;
        }
    }
}
